{
  "jsc": {
    "target": "es2020",
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": false,
      "dynamicImport": true
    },
    "transform": {
      "react": {
        "runtime": "automatic"
      }
    },
    "externalHelpers": false,
    "keepClassNames": false,
    "loose": true
  },
  "module": {
    "type": "es6"
  },
  "minify": true,
  "sourceMaps": false
}

